@{
    ViewBag.Title = "Not Found";
}

<div class="container" style="text-align: center;  color: #888;">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">404</h1>
    <p style="font-size: 50px; ">Page not found</p>
    <p>The page you are looking for doesn't exist or another issue occurred.</p>
    <p>Please navigate back to the Home page using the button below</p>
</div>

<div style="text-align:center;">
    <a asp-action="index" asp-controller="home" class="btn btn-primary animate__animated animate__shakeX" style="animation-duration: 1s; animation-delay: 0.5s;">Go back to Home page</a>
</div>
